@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a:focus {
  outline: none !important;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: #fff;
}

.hidepreloader {
  -webkit-animation: hidepreloader 2.5s;
          animation: hidepreloader 2.5s;
}

@-webkit-keyframes hidepreloader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

@keyframes hidepreloader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .container {
    max-width: 850px;
  }
}

@media (max-width: 772px) {
  .container {
    max-width: none;
  }
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.header__logo {
  width: 35%;
}

.header__logo img {
  width: 50%;
  padding: 5px 0;
}

.header__links li {
  display: inline-block;
  margin-left: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__links li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__links li a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #cccbcb;
}

.header__links li a:hover {
  color: #fff;
}

.header__burger {
  display: none;
}

@media (max-width: 992px) {
  .header__links li {
    display: inline-block;
    margin: 0 5px;
  }
  .header__links li a {
    font-size: 14px;
  }
}

@media (max-width: 772px) {
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block;
    width: 30px;
  }
  .header__logo img {
    width: 100%;
  }
}

.burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  width: 100%;
}

.burger li {
  margin-bottom: 50px;
}

.burger li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: #cccbcb;
  text-transform: uppercase;
}

.burger__exit {
  display: none;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100vh;
  background-color: #000;
}

.slider__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.slider__social a {
  color: #fff;
  font-size: 35px;
  z-index: 1100;
  opacity: .7;
  padding-left: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.slider__social a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.slider__page {
  z-index: 1;
  position: absolute;
  width: 100%;
  -webkit-clip-path: circle(30% at 0% 50%);
          clip-path: circle(30% at 0% 50%);
}

.slider .slider__page.active {
  -webkit-clip-path: circle(150% at 0% 50%);
          clip-path: circle(150% at 0% 50%);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-property: -webkit-clip-path;
  transition-property: -webkit-clip-path;
  transition-property: clip-path;
  transition-property: clip-path, -webkit-clip-path;
}

.slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 30px;
}

.slider__btn {
  z-index: 3;
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider__btn:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.slider__img {
  background-image: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.slider__img--two {
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.slider__img--three {
  background-image: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.slider__img--four {
  background-image: url(../img/5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.active {
  z-index: 2;
}

@media (max-width: 650px) {
  .slider__img {
    background-image: url(../img/gallery/1.jpg);
  }
  .slider__img--two {
    background-image: url(../img/gallery/2.jpg);
  }
  .slider__img--three {
    background-image: url(../img/gallery/8.jpg);
  }
  .slider__img--four {
    background-image: url(../img/gallery/6.jpg);
  }
  .slider__btn {
    display: none;
  }
  .slider__social {
    right: auto;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Montserrat', sans-serif;
}

.footer__box {
  height: 170px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0px 15px 0px;
}

.footer__contacts a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__contacts a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 20px 0;
}

.footer__social a {
  padding: 0 5px;
  font-size: 30px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__social a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 12px;
  padding-top: 10px;
}

@media (max-width: 610px) {
  .footer__box {
    height: 200px;
  }
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0 0 0;
  }
  .footer__contacts a {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer__social {
    font-size: 35px;
    padding: 35px 0 35px 0;
  }
  .footer__title {
    padding: 0 0 10px 0;
    font-size: 8px;
  }
}

.portfolio__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24.6% 24.6% 24.6% 24.6%;
      grid-template-columns: 24.6% 24.6% 24.6% 24.6%;
  -ms-grid-rows: (350px)[3];
      grid-template-rows: repeat(3, 350px);
  grid-gap: 10px;
  height: 100%;
  padding: 10% 0 15% 0;
}

.portfolio__table a {
  text-decoration: none;
  border: none;
}

@media (max-width: 992px) {
  .portfolio .portfolio__table {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 49% 49%;
        grid-template-columns: 49% 49%;
    -ms-grid-rows: (350px)[6];
        grid-template-rows: repeat(6, 350px);
    grid-gap: 15px;
  }
}

@media (max-width: 550px) {
  .portfolio .portfolio__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
  .portfolio .portfolio__item {
    margin: 15px 0;
  }
  .portfolio .portfolio__item img {
    max-height: 350px;
  }
  .portfolio .portfolio__info {
    margin: 15px 0;
    font-size: 20px;
  }
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio__img {
  background: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.portfolio .alina {
  background-image: url(../img/portfolio/alina/2.jpg);
}

.portfolio .tany {
  background-image: url(../img/portfolio/tany/tany_10.jpg);
}

.portfolio .regina {
  background-image: url(../img/portfolio/regina/5.jpg);
}

.portfolio .anzelika {
  background-image: url(../img/gallery/13.jpg);
}

.portfolio .olga {
  background-image: url(../img/gallery/7.jpg);
}

.portfolio__img p {
  height: 350px;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: circle(0.4% at 50% 50%);
          clip-path: circle(0.4% at 50% 50%);
}

.portfolio__img:hover p {
  opacity: .7;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  -webkit-clip-path: circle(70.7% at 50% 50%);
          clip-path: circle(70.7% at 50% 50%);
}

.portfolio__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.portfolio__item img {
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__info {
  text-align: center;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.contacts {
  height: 100%;
}

.contacts__wrap {
  padding-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.contacts__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  margin: 0 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.contacts__page:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contacts__page img {
  min-height: 90%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__info {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 15px;
  text-align: center;
}

@media (max-width: 950px) {
  .contacts {
    min-height: 1700px;
  }
  .contacts__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__page {
    margin: 10px 0;
  }
}

.port-gallery__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24.6% 24.6% 24.6% 24.6%;
      grid-template-columns: 24.6% 24.6% 24.6% 24.6%;
  -ms-grid-rows: (350px)[2];
      grid-template-rows: repeat(2, 350px);
  grid-gap: 3px;
  height: 100%;
  padding: 100px 0;
}

@media (max-width: 992px) {
  .port-gallery .port-gallery__table {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 49.7% 49.7%;
        grid-template-columns: 49.7% 49.7%;
    -ms-grid-rows: (450px)[4];
        grid-template-rows: repeat(4, 450px);
    grid-gap: 5px;
    height: 100%;
  }
}

@media (max-width: 550px) {
  .port-gallery .port-gallery__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-bottom: 50px;
  }
  .port-gallery .port-gallery__item {
    margin-bottom: 5px;
  }
}

.port-gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.price {
  height: 1450px;
  display: block;
  font-family: 'Montserrat', sans-serif;
}

.price__main {
  padding: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 80px;
}

.price__section {
  padding: 20px;
  margin: 0 20px;
  text-align: center;
  max-width: 400px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.price__section h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px 0 15px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price__section h3 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
}

.price__img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 450px;
  width: 100%;
  margin: 0 auto;
}

.price .person {
  background-image: url(../img/price/price_person.jpg);
}

.price .love {
  background-image: url(../img/price/price_love.jpg);
}

.price .small {
  background-image: url(../img/price/price_small.jpg);
}

.price__section ul {
  text-align: left;
  font-size: 16px;
}

.price__conditions {
  margin: 25px 0;
}

.price__additional {
  margin: 25px 0;
}

.price__wrapp {
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: calc(100% - 40px);
}

.price__title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 20px;
}

.price__list {
  padding-top: 20px;
}

.price__list li {
  font-size: 18px;
  padding: 5px 0;
}

.price__additional li {
  font-size: 18px;
  padding: 5px 0;
}

@media (max-width: 1000px) {
  .price__img {
    height: 350px;
  }
  .price__section {
    margin: 0 10px;
    padding: 15px;
  }
  .price__wrapp {
    width: calc(100% - 20px);
  }
}

@media (max-width: 850px) {
  .price {
    min-height: 2550px;
  }
  .price__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 20px;
  }
  .price__section {
    margin-bottom: 30px;
  }
  .price__wrapp {
    padding: 10px;
    width: 90%;
  }
  .price__list li {
    font-size: 16px;
  }
  .price__additional li {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .price {
    min-height: 2650px;
  }
}

@media (max-width: 340px) {
  .price {
    min-height: 2800px;
  }
}
