@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a:focus {
  outline: none !important;
}

.page {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: #fff;
}

.hidepreloader {
  -webkit-animation: hidepreloader 2.5s;
          animation: hidepreloader 2.5s;
}

@-webkit-keyframes hidepreloader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

@keyframes hidepreloader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.container {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0 15px;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Montserrat', sans-serif;
}

.header__logo {
  margin-right: auto;
}

.header__links li {
  display: inline-block;
  margin: 0 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__links li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__links li a {
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #cccbcb;
}

.header__links li a:hover {
  color: #fff;
}

.header__btn {
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
  border-radius: 20px;
  padding: 9px 15px;
  color: #1b1b1b;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  color: #1b1b1b;
}

.header__burger {
  display: none;
}

.burger {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  width: 100%;
}

.burger li {
  margin-bottom: 50px;
}

.burger li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  text-decoration: none;
  color: #cccbcb;
  text-transform: uppercase;
}

.burger__exit {
  display: none;
}

@media (max-width: 992px) {
  .container {
    max-width: 850px;
  }
  .header__links li {
    display: inline-block;
    margin: 0 5px;
  }
  .header__links li a {
    font-size: 14px;
  }
  .header__btn {
    display: none;
  }
}

@media (max-width: 772px) {
  .container {
    max-width: none;
  }
  .header__logo img {
    max-width: 70%;
  }
  .header__menu {
    display: none;
  }
  .header__burger {
    display: block;
  }
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100vh;
}

.slider__page {
  z-index: 1;
  position: absolute;
  width: 100%;
}

.slider__text {
  z-index: 3;
  position: absolute;
  left: 50px;
  bottom: 100px;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 30px;
}

.slider__btn {
  z-index: 3;
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.slider__btn:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.slider__img {
  background-image: url(../img/5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.slider__img--two {
  background-image: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.slider__img--three {
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.slider__img--four {
  background-image: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.active {
  z-index: 2;
}

.slider__arrow {
  z-index: 3;
  font-size: 50px;
  cursor: pointer;
  display: none;
  color: rgba(255, 255, 255, 0.6);
}

.fa-chevron-left {
  position: absolute;
  left: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.fa-chevron-left:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.fa-chevron-right {
  position: absolute;
  right: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.fa-chevron-right:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 650px) {
  .slider__img {
    background-image: url(../img/gallery/6.jpg);
  }
  .slider__img--two {
    background-image: url(../img/gallery/8.jpg);
  }
  .slider__img--three {
    background-image: url(../img/gallery/2.jpg);
  }
  .slider__img--four {
    background-image: url(../img/gallery/1.jpg);
  }
  .slider__text {
    display: none;
  }
  .slider__arrow {
    display: block;
  }
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Montserrat', sans-serif;
}

.footer__box {
  height: 170px;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0px 15px 0px;
}

.footer__contacts a {
  text-decoration: none;
  padding: 0 10px;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__contacts a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 20px 0;
}

.footer__social a {
  padding: 0 5px;
  font-size: 30px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer__social a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 12px;
  padding-top: 10px;
}

@media (max-width: 610px) {
  .footer__box {
    height: 200px;
  }
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0 0 0;
  }
  .footer__contacts a {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .footer__social {
    font-size: 35px;
    padding: 35px 0 35px 0;
  }
  .footer__title {
    padding: 0 0 10px 0;
    font-size: 8px;
  }
}

.title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 150px 60px;
  font-size: 28px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

@media (max-width: 992px) {
  .title .title__text {
    font-size: 22px;
    padding: 120px 50px;
  }
}

@media (max-width: 550px) {
  .title .title__text {
    font-size: 14px;
    padding: 90px 0;
  }
}

.gallery__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24.6% 24.6% 24.6% 24.6%;
      grid-template-columns: 24.6% 24.6% 24.6% 24.6%;
  -ms-grid-rows: (450px)[3];
      grid-template-rows: repeat(3, 450px);
  grid-gap: 5px;
  height: 1600px;
}

@media (max-width: 992px) {
  .gallery .gallery__table {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 49.7% 49.7%;
        grid-template-columns: 49.7% 49.7%;
    -ms-grid-rows: (450px)[6];
        grid-template-rows: repeat(6, 450px);
    grid-gap: 5px;
    height: 100%;
    margin-bottom: 100px;
  }
}

@media (max-width: 550px) {
  .gallery .gallery__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-bottom: 50px;
  }
  .gallery .gallery__item {
    margin-bottom: 5px;
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

.portfolio__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24.6% 24.6% 24.6% 24.6%;
      grid-template-columns: 24.6% 24.6% 24.6% 24.6%;
  -ms-grid-rows: (350px)[3];
      grid-template-rows: repeat(3, 350px);
  grid-gap: 10px;
  height: 100%;
  padding: 10% 0 15% 0;
}

.portfolio__table a {
  text-decoration: none;
  border: none;
}

@media (max-width: 992px) {
  .portfolio .portfolio__table {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 49% 49%;
        grid-template-columns: 49% 49%;
    -ms-grid-rows: (350px)[6];
        grid-template-rows: repeat(6, 350px);
    grid-gap: 15px;
  }
}

@media (max-width: 550px) {
  .portfolio .portfolio__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
  .portfolio .portfolio__item {
    margin: 15px 0;
  }
  .portfolio .portfolio__item img {
    max-height: 350px;
  }
  .portfolio .portfolio__info {
    margin: 15px 0;
    font-size: 20px;
  }
}

.portfolio__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.portfolio__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.portfolio__item img {
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__info {
  text-align: center;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
}

.contacts {
  height: 100%;
}

.contacts__wrap {
  padding-top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.contacts__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  width: 300px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  margin: 0 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

.contacts__page:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.contacts__page img {
  min-height: 90%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts__info {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 15px;
  text-align: center;
}

@media (max-width: 550px) {
  .contacts {
    min-height: 1700px;
  }
  .contacts__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts__page {
    margin: 10px 0;
  }
}

.modal {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

.modal__content {
  margin: 20vh auto;
  max-width: 500px;
  height: 55vh;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  position: relative;
}

.modal__content form {
  padding: 5% 0;
}

.modal__title {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px 0 0;
}

.modal__input {
  display: block;
  margin: 30px auto;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  border: none;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding: 0 40px;
}

.modal__btn {
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  padding: 12px 80px;
  color: #fffefe;
  font-weight: 700;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal__btn:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.fa-times {
  font-size: 25px;
  position: absolute;
  right: 15px;
  top: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.fa-times:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 550px) {
  .modal__content {
    padding: 20px;
    width: 90%;
  }
  .modal__title {
    margin: 25px auto;
    font-size: 20px;
  }
  .modal__input {
    width: 70%;
    font-size: 16px;
    padding: 0 10px;
    margin: 0 auto 20px;
  }
  .modal__btn {
    padding: 10px 40px;
  }
  .modal form {
    margin-bottom: 10%;
  }
}

.port-gallery__table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24.6% 24.6% 24.6% 24.6%;
      grid-template-columns: 24.6% 24.6% 24.6% 24.6%;
  -ms-grid-rows: (450px)[2];
      grid-template-rows: repeat(2, 450px);
  grid-gap: 5px;
  height: 100%;
  padding: 100px 0;
}

@media (max-width: 992px) {
  .port-gallery .port-gallery__table {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 49.7% 49.7%;
        grid-template-columns: 49.7% 49.7%;
    -ms-grid-rows: (450px)[4];
        grid-template-rows: repeat(4, 450px);
    grid-gap: 5px;
    height: 100%;
  }
}

@media (max-width: 550px) {
  .port-gallery .port-gallery__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    margin-bottom: 50px;
  }
  .port-gallery .port-gallery__item {
    margin-bottom: 5px;
  }
}

.port-gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
