@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

a:focus {
    outline: none !important;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
        width: 100%;
    }
}
.white{
    background-color: #fff;
    height: 600px;
    &__wrap{
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    & p{
        width: 50%;
    }
    & img{
        width: 50%;
        right: 0;
    }
}

@import "blocks/container";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/media";
@import "blocks/slider";
@import "blocks/footer";



