@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

a:focus {
    outline: none !important;
}

// временный блок


@import "blocks/container";
@import "blocks/header";
@import "blocks/burger";
@import "blocks/media";
@import "blocks/slider";
@import "blocks/footer";
@import "blocks/title";
@import "blocks/gallery";




