.contacts {
    height: calc(100% - 30px);
    &__wrap{
        padding-top: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Montserrat', sans-serif;
    }
    &__page {
        display: flex;
        flex-direction: column;
        height: 600px;
        width: 400px;
        background-color: #fff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .5) ;
        margin: 0 20px;
        border-radius: 5px;
        overflow: hidden;
    }

    &__page img {
        min-height: 90%;
        width: 100%;
        object-fit: cover;
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    &__social a{
        text-decoration: none;
    }
    &__social i{
        font-size: 34px;
        color: rgba(0, 0, 0, 0.8);
        transition: all .3s;
        margin: 0 10px;
    }
    &__social i:hover {
        transform: scale(1.2);
    }
}

@media (max-width:950px) {
    .contacts {
        min-height: 1700px;
    }
    .contacts__wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .contacts__page {
        margin: 10px 0;
    }
}