.footer {
    background-color: rgba(0,0,0,0.8);
    font-family: 'Montserrat', sans-serif;
    &__box {
        height: 170px;
    }
    &__contacts {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 25px 0px 15px 0px;
    }

    &__contacts a{
        text-decoration: none;
        padding: 0 10px;
        font-size: 18px;
        color: #fff;
        transition: all .5s;
    }
    &__contacts a:hover {
        transform: scale(1.1);
    }
    &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        padding: 20px 0;
    }
    &__social a {
        padding: 0 5px;
        font-size: 30px;
        color: #fff;
        transition: all .5s;
    }
    &__social a:hover {
        transform: scale(1.5);
    }
    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 12px;
        padding-top: 10px;
    }
}
@media (max-width:610px){
    .footer{ 
        &__box {
            height: 200px;
        }
        &__contacts {
            flex-direction: column;
            padding: 15px 0 0 0;
        }
        &__contacts a{
            font-size: 20px;
            margin-bottom: 10px;
        }
        &__social {
            font-size: 35px;
            padding: 35px 0 35px 0;
        }
        &__title {
            padding: 0 0 10px 0;
            font-size: 8px;
        }
    }
}
