.modal {
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    &__content {
        margin: 20vh auto;
        max-width: 500px;
        height: 55vh;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 5px;
        padding: 40px;

        font-family: 'Montserrat', sans-serif;
        text-align: center;
        position: relative;
    }
    &__title {
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 40px 0;
    }
    &__input {
        display: block;
        margin: 40px auto;
        border-radius: 5px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .5) ;
        border: none;
        width: 300px;
        height: 40px;
        font-size: 20px;
        padding: 0 40px;
    }
    &__btn {
        text-transform: uppercase;
        text-decoration: none;
        background-color: rgba(0, 0, 0, .8);
        border-radius: 20px;
        padding: 12px 40px;
        color: rgb(255, 254, 254);
        font-weight: 700;
        transition: all 0.3s;
        position: absolute;
        bottom: 60px;
        right: 30%;
    }
    &__btn:hover {
        background-color: rgba(0, 0, 0, .9);
    }
}
.fa-times {
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.3s;
    cursor: pointer;
}
.fa-times:hover {
    transform: scale(1.2);
}
