.portfolio {
    
    &__table {
        display: grid;
        grid-template-columns: 24.6% 24.6% 24.6% 24.6%;
        grid-template-rows: repeat(4, 350px);
        grid-gap: 10px;
        height: 100%;
        padding: 10% 0 15% 0;
    }
    &__table a{
        text-decoration: none;
        border: none;
    }

    @media (max-width:992px) {
        .portfolio__table {
            display: grid;
            grid-template-columns: 49% 49%;
            grid-template-rows: repeat(6, 350px);
            grid-gap: 15px;

        }
    }
    @media (max-width:550px) {
        .portfolio__table {
            display: flex;
            flex-direction: column;
            padding-top: 50px;
        }
        .portfolio__table a {
            margin-bottom: 15px;
        }
        .portfolio__item {
            margin: 15px 0;
        }
        .portfolio__item img{
            max-height: 350px;
        }
        .portfolio__info {
            margin: 15px 0;
            font-size: 20px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .5) ;
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
        transition: all .3s;
    }
    &__img {
        background: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        margin: 10px auto;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .5) ;
        cursor: pointer;
        border-radius: 5px;
        overflow: hidden;
    }
    .alena {
        background-image: url(../img/portfolio/alena/alena_1.jpg);
    }
    .regina {
        background-image: url(../img/portfolio/regina/regina_4.jpg);
    }
    .tany {
        background-image: url(../img/portfolio/tany/tany_10.jpg);
    }
    .oksana {
        background-image: url(../img/portfolio/oksana/oksana_20.JPG);
    }
    .anna {
        background-image: url(../img/portfolio/anna/anna_16.jpg);
    }
    .nastia {
        background-image: url(../img/portfolio/nastia/nastia_29.jpg);
    }
    .sveta {
        background-image: url(../img/portfolio/sveta/sveta_19.jpg);
    }
    .angelina {
        background-image: url(../img/portfolio/angelina/angelina_10.jpg);
    }
    .ela {
        background-image: url(../img/portfolio/ela/ela_14.jpg);
    }
    .lera {
        background-image: url(../img/portfolio/lera/lera_1.jpg);
    }
    .olga {
        background-image: url(../img/portfolio/olga/olga_15.jpg);
    }
    .maria {
        background-image: url(../img/portfolio/maria/maria_12.jpg);
    }
    .yna {
        background-image: url(../img/portfolio/yna/yna_17.jpg);
    }
    .anastasia {
        background-image: url(../img/portfolio/anastasia/anastasia_22.jpg);
    }
    .dana {
        background-image: url(../img/portfolio/dana/dana_14.jpg);
    }
    .svetlana {
        background-image: url(../img/portfolio/svetlana/svetlana_13.jpg);
    }
    &__img p {
        height: 350px;
        opacity: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        color: #fff;
        transition: .5s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        clip-path: circle(0.4% at 50% 50%);
    }
    &__img:hover p {
        opacity: .7;
        background: rgba(0, 0, 0, .6);
        cursor: pointer;
        clip-path: circle(70.7% at 50% 50%);
    }
    &__item:hover {
        transform: scale(1.02);
    }
    &__item img {
        height: 90%;
        object-fit: cover;
    }
    &__info {
        text-align: center;
        margin-top: 10px;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        color: rgba(0,0,0,0.8);
    }
}