.price {
    height: 1450px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    
    &__main{
        padding: 80px 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__columns{
        display: flex;
        margin: 0 auto 80px;
        
    }
    &__section {
        padding: 20px;
        margin: 0 20px;
        text-align: center;
        max-width: 400px;

        background-color: #fff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .5) ;
        border-radius: 5px;
    }
    &__section h1 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 20px;
        margin: 20px 0 15px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__section h3 {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 20px;
    }
    &__img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 450px;
        width: 100%;
        margin: 0 auto;
    }
    .person {
        background-image: url(../img/price/price_person.jpg);
    }
    .love {
        background-image: url(../img/price/price_love.jpg);
    }
    .small {
        background-image: url(../img/price/price_small.jpg);
    }
    &__section ul {
        text-align: left;
        font-size: 16px;
    }
    &__conditions{
        margin: 25px 0;
    }
    &__additional {
        margin: 25px 0;
    }
    &__wrapp {
        padding: 20px;
        margin: 20px;
        background-color: #fff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, .5);
        border-radius: 5px;
        width: calc(100% - 40px);
    }
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        padding-bottom: 20px;
    }
    &__list {
        padding-top: 20px;
    }
    &__list li {
        font-size: 18px;
        padding: 5px 0;
    }
    &__additional li {
        font-size: 18px;
        padding: 5px 0;
    }
}

@media (max-width:1000px) {
    .price__img {
        height: 350px;
    }
    .price__section {
        margin: 0 10px;
        padding: 15px;
    }
    .price__wrapp {
        width: calc(100% - 20px);
    }
}
@media (max-width:850px) {
    .price {
        min-height: 2550px;
    }
    .price__columns {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto 20px;
    }
    .price__section {
        margin-bottom: 30px;
    }
    .price__wrapp {
        padding: 10px;
        width: 90%;
    }
    .price__list li {
        font-size: 16px;
    }
    .price__additional li {
        font-size: 16px;
    }

}
@media (max-width:450px) {
    .price {
        min-height: 2650px;
    }
}
@media (max-width:340px) {
    .price {
        min-height: 2800px;
    }
}