.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    background-color: #000;

    &__social {
        display: flex;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
    &__social a{
        color: #fff;
        font-size: 35px;
        z-index: 1100;
        opacity: .7;
        padding-left: 10px;
        transition: all .2s ;
    }
    &__social a:hover {
        transform: scale(1.3);
    }

    &__page {
        z-index: 1;
        position: absolute;
        width: 100%;
        clip-path: circle(30% at 0% 50%);
    }
    .slider__page.active {
        clip-path: circle(150% at 0% 50%);
        transition: 1.5s;
        transition-property: clip-path;
    }
    &__nav {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 30px;
    }
    &__btn {
        z-index: 3;
        height: 15px;
        width: 15px;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 50%;
        margin-left: 15px;
        cursor: pointer;
        transition: all .3s;

    }
    &__btn:hover {
        transform: scale(1.4);
    }
}
.slider__img {
    background-image: url(../img/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    &--two{
        background-image: url(../img/3.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    &--three{
        background-image: url(../img/4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    &--four{
        background-image: url(../img/5.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
}


.active {
    z-index: 2;
}
// стрелки


@media(max-width:650px){
    .slider__img {
        background-image: url(../img/gallery/4.jpg);
        &--two {
            background-image: url(../img/gallery/3.jpg);
        }
        &--three {
            background-image: url(../img/gallery/2.jpg);
        }
        &--four {
            background-image: url(../img/gallery/1.jpg);
        }
    }
    .slider__btn {
        display: none;
    }
    .slider__social {
        right: auto;
    }
}